@import url(https://fonts.googleapis.com/css?family=Varela+Round);#nav {
  margin-bottom: 4vh;
  background: rgba(17, 17, 17, 0.4);
  padding: 1vh 0;
  box-shadow: 5px 5px 0px gray;
  margin-top: 10px; }
  #nav ul {
    list-style: none;
    text-align: center; }
    #nav ul li {
      display: inline-block;
      cursor: pointer; }
      #nav ul li a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: black;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0 10px;
        transition: all .5s;
        position: relative; }
        #nav ul li a:after {
          transition: all .5s;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 0%;
          content: '.';
          color: transparent;
          background: #aaa;
          height: 1px; }
        #nav ul li a:before {
          transition: all .5s; }
        #nav ul li a:hover {
          color: whitesmoke;
          width: 100%; }
          #nav ul li a:hover:after {
            width: 100%; }

mobile {
  border-radius: 8px;
  height: auto;
  margin: 10vh auto;
  overflow: hidden;
  position: relative;
  width: 320px; }

.mobile-controls {
  text-align: center;
  padding: 10px; }
  .mobile-controls button {
    border-radius: 10px;
    color: black;
    height: 40px;
    padding: 0 15px; }
    .mobile-controls button:hover {
      cursor: pointer;
      background: grey;
      color: white; }
    .mobile-controls button:focus {
      background-color: #aaaaaa; }
  .mobile-controls .back-button {
    display: none; }

.mobile-menu {
  background: rgba(211, 211, 211, 0.7);
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 10; }
  .mobile-menu ul {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    transition: 0.25s; }
    .mobile-menu ul li {
      list-style: none; }
      .mobile-menu ul li:hover {
        background: grey; }
        .mobile-menu ul li:hover a {
          color: lightgrey; }
        .mobile-menu ul li:hover button {
          color: grey; }
      .mobile-menu ul li a {
        color: #000;
        flex: 3;
        padding: 10px;
        text-decoration: none;
        font-size: 11.8vh; }
      .mobile-menu ul li button {
        background: none;
        text-align: right;
        padding: 10px; }

@media (max-width: 899px) {
  #about {
    margin-top: 10px;
    position: relative; }
  .mobile-menu a {
    font-size: 10vh; } }

.sidebar {
  width: 12vw;
  height: auto;
  border-radius: 25px;
  box-shadow: 5px 5px 0px gray;
  background: rgba(17, 17, 17, 0.4);
  float: left;
  position: fixed;
  left: 1vw;
  top: 28vh;
  text-align: center;
  padding: 3vh; }
  .sidebar p {
    font-size: 2vh; }

.slides {
  padding: 0;
  width: 609px;
  height: 420px;
  display: block;
  position: relative; }

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

.slides input {
  display: none; }

.slide-container {
  display: block; }

.slide {
  top: 0;
  opacity: 0;
  width: 609px;
  height: 420px;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: all .7s ease-in-out; }

.slide img {
  width: 100%;
  height: 100%; }

.nav label {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  transition: opacity .2s;
  color: #FFF;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 15px #777777; }
  .nav label:hover {
    opacity: 1; }

.nav .next {
  right: 0; }

.slide:hover + .nav label {
  opacity: 0.5; }

input:checked + .slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out; }

input:checked + .slide-container .nav label {
  display: block; }

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center; }
  .nav-dots .nav-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: grey; }
    .nav-dots .nav-dot:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.8); }

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
  background: rgba(0, 0, 0, 0.8); }

.form-row {
  background: rgba(245, 245, 245, 0.8);
  padding-left: 35px;
  padding-right: 35px; }

/* label color */
.input-field label {
  color: #9c9c9c; }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #9c9c9c; }

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #9c9c9c;
  box-shadow: 0 1px 0 0 #9c9c9c; }

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #9c9c9c;
  box-shadow: 0 1px 0 0 #9c9c9c; }

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #9c9c9c;
  box-shadow: 0 1px 0 0 #9c9c9c; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: #9c9c9c; }

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #009ddc;
  box-shadow: 0 1px 0 0 #009ddc; }

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #009ddc; }

.form-container .btn {
  background-color: #009ddc;
  border-radius: 30px; }

.submitbtn {
  line-height: 48px;
  display: block;
  height: 48px;
  width: 100%;
  right: 5px; }

.form-container h3 {
  font-size: 42px;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: -46px; }

@media (max-width: 899px) {
  #nav {
    display: none; } }

@media (min-width: 900px) {
  #nav-mobile {
    display: none;
    position: absolute; } }

@media all and (max-width: 640px) {
  .form-container {
    position: static;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 100%;
    margin-top: 70px;
    margin-bottom: 20px; }
  .form-container h3 {
    font-size: 24px;
    top: -26px; } }

@media (max-width: 1200px) {
  .sidebar {
    display: none; } }

@media (max-width: orientation portrait) {
  h2 {
    font-size: 2px !important; } }

.container {
  border: 1px solid red; }
  .container::after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: red; }

* {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%; }

body {
  font-weight: bolder;
  font-size: 25px;
  background-image: url("/img/brakes.jpg");
  background-size: contain;
  font-family: 'Roboto', sans-serif; }

.container {
  text-align: center; }

.imageDescription {
  font-size: 2vh; }

img {
  margin-bottom: 2vh;
  border-radius: 2vh; }

p {
  margin-top: 5%; }

h1 {
  background: rgba(17, 17, 17, 0.4);
  border-radius: 35px;
  padding: 10px;
  box-shadow: 5px 5px 0 gray; }

h2 {
  font-weight: bolder;
  margin-top: 2vh; }

.map {
  width: 100%; }

.street {
  width: 100%; }

iframe {
  height: 30vh;
  border: 0; }

#contact {
  position: relative;
  display: block;
  height: 100%; }

.footer {
  background: rgba(17, 17, 17, 0.4);
  height: 50px;
  margin-top: 30px;
  padding: 1.5vh; }
  .footer span {
    font-size: 1vh; }
  .footer .git {
    float: right; }
    .footer .git span {
      position: relative;
      bottom: 1vh; }
    .footer .git a {
      margin-left: 1vh;
      cursor: pointer;
      float: right; }
    .footer .git img {
      width: 2vh;
      height: auto; }
