mobile {
  border-radius: 8px;
  height: auto;
  margin: 10vh auto;
  overflow: hidden;
  position: relative;
  width: 320px;

}
.mobile-controls {
  text-align: center;
  padding: 10px;
  button{
    border-radius: 10px;
    color: black;
    height: 40px;
    padding :0 15px;
    &:hover{
      cursor: pointer;
      background: grey;
      color: white;
    }
    &:focus{
      background-color: #aaaaaa;
    }
  }
  .back-button {
    display:none;
  }
}

.mobile-menu {
  background: rgba(211,211,211,0.7);
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 10;
  ul {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    transition: 0.25s;
    li {
      list-style: none;
      &:hover{
        background: grey;
        a{
          color: lightgrey;
        }
        button{
          color: grey;
        }
      }
      a {
        color: #000;
        flex: 3;
        padding: 10px;
        text-decoration: none;
        font-size: 11.8vh;
      }
      button {
        background: none;
        text-align: right;
        padding: 10px;
      }
    }
  }
}

@media (max-width: 899px){
  #about{
    margin-top: 10px;
    position: relative;
  }
  .mobile-menu{
    a{
      font-size: 10vh;
    }
  }
}

