mobile {
  border: 2px solid black;
  border-radius: 8px;
  height: 480px;
  margin:10vh auto;
  overflow: hidden;
  position: relative;
  width: 320px;

}
.mobile-controls {
  text-align: center;
  padding:10px;
  button{
    border:1px solid #fff;
    border-radius:8px;
    color:#fff;
    height:40px;
    padding:0 15px;
    &:hover{
      cursor:pointer;
      background:lightgrey;
      color:#000;
    }
  }
  .back-button {
    display:none;
  }
}

.mobile-menu {
  background: lightgray;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
  ul {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    transition: 0.25s;
    li {
      border-bottom: 1px solid black;
      list-style: none;
      &:hover{
        background: grey;
        a{
          color: lightgrey;
        }
        button{
          color: grey;
        }
      }
      a {
        color: #000;
        flex: 3;
        padding: 10px;
        text-decoration: none;
      }
      button {
        background: none;
        border: 0;
        flex: 1;
        text-align: right;
        padding: 10px;
      }
    }
  }
}

