@media (max-width: 899px){
    #nav{
      display: none;
    }
    #services{
        .imageDescription{
            h3{
                font-size: 5vw !important;
            }
            p{
                font-size: 3vw !important;
            }
        }
    }

    .git{
        span{
            position: relative;
            bottom: 35%;
        }
    }
}

@media (min-width: 766px) and (max-width: 899px){
    #services{
        .imageDescription{
            h3{
                font-size: 2.5vw !important;
            }
            p{
                font-size: 1.5vw !important;                }
            }
    }
}

@media (min-width: 900px){
    #nav-mobile{
    display: none;
    position: absolute;
    }
    #about{
        p{
            font-size: 1.5vw;
        }
    }
    .git{
        span{
            position: relative;
            bottom: 25%;
            }
    }
}

@media  all and (max-width: 640px) {
    .form-container {
    position: static;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 100%;
    margin-top: 70px;
    margin-bottom: 20px;
    }
    .form-container h3 {
      font-size: 24px;
      top: -26px;
    }
    h3{
        font-size: 22px !important;
        font-weight: 900;
    }
    p{
        font-size: 15px;
        font-weight: 400;

    }
}

@media (max-width: 1400px){
    .sidebar{
      display: none;
    }
}


