@media (max-width: 899px){
    #nav{
      display: none;
    }
    .git{
        span{
            position: relative;
            bottom: 35%;
        }
    }
}
  
@media (min-width: 900px){
    #nav-mobile{
    display: none;
    position: absolute;
    }
    .git{
        span{
            position: relative;
            bottom: 25%;
            }
    }
}

@media  all and (max-width: 640px) {
    .form-container {
    position: static;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 100%;
    margin-top: 70px;
    margin-bottom: 20px;
    }
    .form-container h3 {
      font-size: 24px;
      top: -26px;
    }
}

@media (max-width: 1400px){
    .sidebar{
      display: none;
    }
}


@media (max-width: 640px){
    h3{
        font-size: 22px !important;
        font-weight: 900;
    }
    p{
        font-size: 15px;
        font-weight: 400;

    }
}


