.sidebar{
  width: 12vw;
  height: auto;
  border-radius: 25px;
  box-shadow: 5px 5px 0px gray;
  background: rgba(17, 17, 17, 0.4);
  float: left;
  position: fixed;
  left: 1vw;
  top: 28vh;
  text-align: center;
  padding: 3vh;
  p{
    font-size: 2vh;
  }
}

