.sidebar{
  width: 250px;
  height: 340px;
  border-radius: 25px;
  box-shadow: 5px 5px 0px gray;
  background: rgba(17, 17, 17, 0.4);
  float: left;
  position: fixed;
  left: 15vh;
  top: 28vh;
  text-align: center;
  padding: 3vh;
  p{
    font-size: 2vh;
  }
}
