*{
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
}

@media (max-width: 1920px ){
  .sidebar{
    display: none;
  }
  #nav{
    li{
      font-size: 2vh;
    }
  }
}



body{
  display: block;
  font-weight: bolder;
  font-size: 25px;
  //background-image: url("/img/background.jpg");

  background-size: contain;
  font-family: 'Roboto', sans-serif;
}


.sidebar{
  width: 250px;
  height: 450px;
  border-radius: 25px;
  box-shadow: 5px 5px 0px gray;
  background: rgba(17, 17, 17, 0.4);
  float: left;
  position: fixed;
  left: 20vh;
  top: 28vh;
  text-align: center;
  padding: 3vh;
  p{
    font-size: 2vh;
  }


}

#nav {
  margin-bottom: 4vh;
  background: rgba(17, 17, 17, 0.4);
  padding: 1vh 0;
  box-shadow: 5px 5px 0px gray;
  margin-top: 10px;
  ul{
    list-style: none;
    text-align: center;
    li{
      display: inline-block;
      a{
        display: block;
        padding: 15px;
        text-decoration: none;
        color: black;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0 10px;
        transition: all .5s;
        position: relative;
        &:after{
          transition: all .5s;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 0%;
          content: '.';
          color: transparent;
          background: #aaa;
          height: 1px;

        }
        &:before{
          transition: all .5s;
        }
        &:hover{
          color: whitesmoke;
          width: 100%;
          &:after{
            width: 100%;
          }
        }
      }
    }
  }
}

.container{
  text-align: center;
}

.imageDescription{
  font-size: 2vh;
}

img{
  margin-bottom: 2vh;
  border-radius: 2vh;
}


p{
  margin-top: 15%;
}

h1{
  background: rgba(17, 17, 17, 0.4);
  border-radius: 55px;
  padding: 10px;
  box-shadow: 5px 5px 0 gray;
  margin: 4vh 1vh;
}

.map{
  width: 100%;
}

.street{
  width: 100%;
}
iframe{
  height: 30vh;
}
