@import "nav";
@import "sidebar";
@import "gallery";


*{
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
}

@media (max-width: 1920px ){
  .sidebar{
    display: none;
  }
  #nav{
    li{
      font-size: 2vh;
    }
  }
}

body{
  display: block;
  font-weight: bolder;
  font-size: 25px;
  //background-image: url("/img/background.jpg");

  background-size: contain;
  font-family: 'Roboto', sans-serif;
}



.container{
  text-align: center;

}

.imageDescription{
  font-size: 2vh;
}

img{
  margin-bottom: 2vh;
  border-radius: 2vh;
}


p{
  margin-top: 5%;
}

h1{
  background: rgba(17, 17, 17, 0.4);
  border-radius: 55px;
  padding: 10px;
  box-shadow: 5px 5px 0 gray;
  margin: 4vh 1vh;
}

h2{
  font-weight: bolder;
  margin-top: 2vh;
}

.map{
  width: 100%;
}

.street{
  width: 100%;
}
iframe{
  height: 30vh;
  border: 0;
}

